<div class="container">
  <%= form_tag '/short', :remote => true, :id => 'form-short', :class => 'form-inline row', 'autocomplete' => 'off' do %>

      <h2 id="form-short-heading">
        <%= link_to 'Short The Rails', root_url %>
      </h2>

      <div class="input-prepend input-append">
        <span class="btn dropdown-toggle" data-toggle="dropdown" id="form-short-url-protocol">
          http://
        </span>

        <ul class="dropdown-menu" id="dropdown-protocol">
          <li><a href="#">http://</a></li>
          <li><a href="#">https://</a></li>
          <li><a href="#">ftp://</a></li>
        </ul>

        <%= text_field_tag 'url', nil, 'type' => 'hidden', :id => 'form-short-url-field-hidden' %>
        <%= text_field_tag nil, nil, :id => 'form-short-url-field', :placeholder => 'google.ru' %>
        <span id="add-on">
            <%= button_tag 'Short!', :class => 'btn btn-primary', :id => 'form-short-submit', 'data-disable-with' => 'Wait...'%>
        </span>
      </div>

      <div id="form-short-result">
        <a id="form-short-result-link" target="_blank"></a>
        <span id="form-short-result-error"></span>
        <button id="form-short-result-close" class="close" type="button">&times;</button>
      </div>

  <% end %>

  <div style="text-align: center;">nd0ut &copy; 2013</div>


</div>